<h1><%= @destination.name %></h1>
<li>Featured Post: <%= link_to "#{@destination.featured_destination.title}", post_path(@destination.featured_destination) %></li>

<li>Average age of bloggers: <%= @destination.average_age %></li>

  <li>Most Recent Posts: 
    <ul><% @destination.recent_posts.each do |post| %>
        <li><%= link_to "#{post.title}", post_path(post) %></li><br>
    <% end %></ul>
    </li>